
.navbar {position: sticky}

body {background-color:#d9e7f4 ;}
p {color: rgb(4, 7, 28);}
#fototitulo {position: relative ; size: 7% ; width: 35px ;top: 10px}

.flex-titulo {
    position:sticky;top: 0; color:rgb(0, 0, 0); background-color: solid#cfc9ba; width: 100%;
    display:flex ; justify-content: space-between ; justify-content: start;}

#fototitulo { width: 60px}


.fotos-inicio {display: flex; justify-content: center ; width: 100%; border: solid red 0px;}
#fotoportada { border: 4px solid#cfc9ba; width: 300px; size: 20vw}
#fotoportada2 {border: 4px solid#cfc9ba; width: 300px; size: 20vw}
#fotoportada3 { border: 4px solid#cfc9ba; width: 300px;size: 20vw}

.introduccion { border: 4px solid#cfc9ba ; background-color: solid#cfc9ba ; margin: 20px}

.boxpestaña {display:inline-block;border: 4px solid#cfc9ba ;}
#fotopestaña {width: 170px}

#estacional {display:inline-block;border: 2px solid#cfc9ba ; background-color: solid#cfc9ba ;}

#categorias{display:inline-block;border: 2px solid#cfc9ba ; background-color:solid#cfc9ba;}

#alimento{display:inline-block;border: 2px solid#cfc9ba ; background-color:solid#cfc9ba ;}

.secciones {display: flex; justify-content: center ;border: 3px solid#cfc9ba; margin: 20px;}

.sugerencias {display: inline-block;border: 3px solid#cfc9ba ;  position:fixed ; bottom: 0; right: 0; width: 300px;background-color: #9fbfcc;}

.ingresousuario {display: inline-block;justify-content: center; border: 3px solid#cfc9ba; background-color: #9fbfcc;}
.flexingresousuario {
    display: grid; 
    grid-template-columns: 1fr 1.2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: ". . ."; }

.tipo-receta { padding: 25px}
.formato-foto-ingredientes { display: grid; 
    grid-template-columns: 0.8fr 1.2fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: ". .";
    padding: 20px;}
.formato-preparacion {padding: 20px;}
.cuadro-receta{border: 3px solid#cfc9ba ; margin: 4%;}


#fotocheesecake {border: 3px solid#cfc9ba ; width: 350px;size: 35vw ; display: flex ; justify-content: space-around;}

#fotovolcan-choco {border: 3px solid#cfc9ba ; width: 350px;size: 35vw ; display: flex ; justify-content: space-around;}

#fotobrownie {border: 3px solid#cfc9ba ; width: 350px;size: 35vw ; display: flex ; justify-content: space-around;}

#fotomuffins-banana {border: 3px solid#cfc9ba ; width: 350px;size: 35vw ; display: flex ; justify-content: space-around;}

#fotopure-zanahoria {border: 3px solid#cfc9ba ; width: 350px;size: 35vw ; display: flex ; justify-content: space-around;}

.tips {border: 3px solid#cfc9ba ; margin: 4%;}

#footer {border: 3px solid#cfc9ba; background-color: #9fbfcc; text-align: center;
        width: 100% ;height: 60px; letter-spacing: 1px; display:flex ; justify-content: center;align-items: center; }

        
@media screen and (max-width:600px) {

    .fotos-inicio {display: flex; justify-content: center ; align-items: center; width: 100%; flex-direction: column;}
    
}

@media screen and (max-width:600px) {

    .formato-foto-ingredientes  {display: flex; justify-content: center ; align-items: center; width: 100%; flex-direction: column;}
    
}


@media screen and (max-width:600px) {

    .formato-receta {display: flex; justify-content: center ; align-items: center; width: 100%; flex-direction: column;}
    
}